Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

chore(release): 1.0.6 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

feat(api): update Dockerfile
  DockerfileAPI
Labels: 🔄 Pull Request

chore(release): 1.0.7 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  80df154af9ce019460ddacd2fdc44a7abe149148
Labels: 🔄 Pull Request

feat(api): update data source
  src/api/src/data-source.ts
Labels: none

chore(release): 1.0.8 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  27483f30e1292d52277cc1004800232e01e5c9af
Labels: 🔄 Pull Request

feat(data): update data source
  src/api/src/data-source.ts
Labels: none

chore(release): 1.0.9 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  5a9e1a1d91e76b165e0cc6ef56ce0cf5a7181e65
Labels: 🔄 Pull Request

feat(api): update data-source.ts
  src/api/src/data-source.ts
Labels: none

chore(release): 1.0.10 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  d8ae91273ec1a24fee392efbb600660a1afd0795
Labels: 🔄 Pull Request

feat(database): update connection method
  src/api/src/data-source.ts
Labels: none

Notes added by 'git notes add'
  ca6cf74b3d593f98bd65c2a2a5969ddbefb8d60b
Labels: 🔄 Pull Request

chore(release): 1.0.11 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

feat(WebSocks): update WebSocket handling
  src/client/saga/WebSocks.tsx
Labels: none

chore(release): 1.0.12 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  70d2d232ff1ea404b00f0f978f804d4398b564b0
Labels: 🔄 Pull Request

Sure, please provide the file summaries, and I'll generate a commit message for you.
  src/api/src/data-source.ts
Labels: none

feat(gamehome): index updates
  src/ui/game/GameHome/index.tsx
Labels: none

chore(release): 1.0.13 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  38ee432a580038ec9ddea5cf9a1494b8e8d45dda
Labels: 🔄 Pull Request

**Commit Message:**
  src/api/src/data-source.ts
Labels: none

feat(update): general improvements and updates
  DockerfileAPI
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
Labels: 🔄 Pull Request

chore(release): 1.0.14 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  303d8bdc196e06c20d17e245b4831992580f45a8
Labels: 🔄 Pull Request

feat(update): summary of recent changes
  package.json
  pnpm-lock.yaml
  src/api/package.json
  src/api/pnpm-lock.yaml
  src/api/src/main.ts
  src/pages/AppContent/AppHeadGame.tsx
  src/pages/_app.tsx
Labels: 🔄 Pull Request

chore(release): 1.0.15 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  1a0e6e5d784c3569e3266d16abb68406eda044fe
Labels: 🔄 Pull Request

feat(AppContent): update functionalities and styling
  src/pages/AppContent/AppHeadGame.tsx
Labels: none

chore(release): 1.0.16 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  f75a4ade8def6c06304cbd0bd3673537fbab87ad
Labels: 🔄 Pull Request

feat(updates): implement various updates
  newrelic.js
  package.json
  pnpm-lock.yaml
  src/api/src/main.ts
Labels: 🔄 Pull Request

feat(update): Summary of changes
  internal/script/purge/index.ts
  internal/script/purge/purge-database.sql
  package.json
  pnpm-lock.yaml
  src/api/package.json
  src/api/pnpm-lock.yaml
  src/api/src/game/game.service.ts
  src/client/RootSlice.tsx
  src/client/saga/WebSocks.tsx
Labels: 🔄 Pull Request, 👀 Frontend

feat(update): summary
  .vscode/launch.json
  .vscode/tasks.json
  internal/script/purge/index.ts
  src/api/src/game/game.service.ts
  src/api/src/score-log/score-log.service.ts
  src/client/RootSlice.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/DealerPickWinner.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
Labels: 👀 Frontend

feat(services): update game and player services
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
  src/ui/game/GameComplete/index.tsx
Labels: none

feat(game): update and additions
  src/api/src/game/game.service.ts
Labels: none

feat(updates): improve services
  src/api/src/game-session/game-session.service.ts
  src/api/src/player/player.service.ts
Labels: none

feat(updates): post initial release updates (#87)
  .vscode/launch.json
  .vscode/tasks.json
  internal/script/purge/index.ts
  internal/script/purge/purge-database.sql
  newrelic.js
  package.json
  pnpm-lock.yaml
  src/api/package.json
  src/api/pnpm-lock.yaml
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/api/src/main.ts
  src/api/src/player/player.service.ts
  src/api/src/score-log/score-log.service.ts
  src/client/RootSlice.tsx
  src/client/saga/WebSocks.tsx
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/DealerPickWinner.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
Labels: 🔄 Pull Request, 👀 Frontend

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*
