Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

feat(logging): update logging format and add auth token emission
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(GameSessionService): update method and logging
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/guards/auth.guard.ts
  src/api/src/player/player.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(reconfig): Update launch configurations and refactor game service (#29)
  .vscode/launch.json
  internal/script/vscode-terminal-check.sh
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/GatewayUtil.ts
  src/api/src/game/OnGateway.ts
  src/api/src/game/dtos/UUID.dto.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/guards/auth.guard.ts
  src/api/src/player/player.service.ts
  src/api/src/sock/sock.service.ts
  src/api/src/sock/type.ts
  src/api/src/type.ts
  src/client/saga/WebSocks.tsx
  vscode.code-workspace
Labels: 🔄 Pull Request

release(kraken): auth flow updates (#30)
  .vscode/launch.json
  internal/script/vscode-terminal-check.sh
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/GatewayUtil.ts
  src/api/src/game/OnGateway.ts
  src/api/src/game/dtos/UUID.dto.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/guards/auth.guard.ts
  src/api/src/player/player.service.ts
  src/api/src/sock/sock.service.ts
  src/api/src/sock/type.ts
  src/api/src/type.ts
  src/client/saga/WebSocks.tsx
  vscode.code-workspace
Labels: 🔄 Pull Request

feat(game): update game session properties and improve readability
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(update): various updates
  src/api/pnpm-lock.yaml
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/dtos/UUID.dto.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/GameContext.tsx
  src/ui/game/GameFeedback/index.tsx
Labels: none

feat(game): update query and methods in game session and game services
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
Labels: none

feat(disconnect): update disconnect logic
  src/api/src/game/game.service.ts
Labels: none

feat(updates): multiple file updates
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
Labels: none

feat(api): update feedback and player services
  src/api/src/feedback/feedback.service.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(game-session): update game session handling
  src/api/src/game-session/game-session.service.ts
Labels: none

feat(refactor): update
  src/api/src/game-session/game-session.service.ts
Labels: none

feat(rule): disable extra semi rule in eslint - .eslintrc.json
  .eslintrc.json
  src/api/.eslintrc.json
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/dtos/auth.dto.ts
  src/api/src/game/dtos/dealer-pick-black-card.dto.ts
  src/api/src/game/dtos/join-game.dto.ts
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
Labels: 🔄 Pull Request

feat(GameSessionService): major updates and enhancements
  src/api/src/game-session/game-session.service.ts
Labels: none

feat(logging): update logging and checks in game session service
  src/api/src/game-session/game-session.service.ts
Labels: none

feat(logging): add debug statements and improve logging context
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(game): refactor and cleanup
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(game): cleanup and adjustments
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
Labels: none

feat(api): update error handling and remove debuggers
  src/api/src/game/game.service.ts
Labels: none

feat(lobby): limbo and lobby update (#31)
  .eslintrc.json
  src/api/.eslintrc.json
  src/api/pnpm-lock.yaml
  src/api/src/feedback/feedback.service.ts
  src/api/src/game-session/game-session.entity.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/dtos/UUID.dto.ts
  src/api/src/game/dtos/auth.dto.ts
  src/api/src/game/dtos/dealer-pick-black-card.dto.ts
  src/api/src/game/dtos/join-game.dto.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/GameContext.tsx
  src/ui/game/GameFeedback/index.tsx
Labels: 🔄 Pull Request

release(kraken): auth flow updates (#33)
  .eslintrc.json
  src/api/.eslintrc.json
  src/api/pnpm-lock.yaml
  src/api/src/feedback/feedback.service.ts
  src/api/src/game-session/game-session.entity.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/dtos/auth.dto.ts
  src/api/src/game/dtos/dealer-pick-black-card.dto.ts
  src/api/src/game/dtos/join-game.dto.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/GameContext.tsx
  src/ui/game/GameFeedback/index.tsx
Labels: 🔄 Pull Request

feat(deleteme): remove extraneous file
  deleteme
Labels: 🔄 Pull Request

feat(puppeteer): enhance window generation logic
  internal/script/puppet.ts
  src/test.zip
Labels: none

feat(game): update game methods and improve debugging
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/GameHome/index.tsx
Labels: none

feat(update): various improvements and refactorings
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/GameHome/index.tsx
Labels: none

feat(cleanup): remove debugger statements and empty lines
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/GameHome/index.tsx
Labels: none

feat(GameHome): update input handling logic
  src/ui/game/GameHome/index.tsx
Labels: none

feat(update): Summary
  src/ui/game/GameHome/index.tsx
Labels: none

feat(ui): game home updates
  src/ui/game/GameHome/index.tsx
Labels: none

feat(game): update exitGame method and UI changes
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/ui/game/GameHome/index.tsx
Labels: none

feat(game): added comments to game service
  src/api/src/game/game.service.ts
Labels: none

feat(enum): update GamePopupType values
  src/api/src/constant/__test__/game-popup-type.enum.spec.ts
  src/api/src/constant/game-popup-type.enum.ts
  src/api/src/game-session/game-session.entity.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/api/src/test/MockData.ts
  src/api/src/type.ts
  src/client/AppTheme.tsx
  src/pages/_document.tsx
  src/ui/game/GameFeedback/index.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameMenu/constant.tsx
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GamePopup/index.tsx
  src/ui/game/GameQuit/index.tsx
  src/ui/game/GameTemplate/index.tsx
  vscode.code-workspace
Labels: 🔄 Pull Request, 👀 Frontend

feat(rename): update ExitGame to LeaveGame
  src/api/src/constant/__test__/websocket-event.enum.spec.ts
  src/api/src/constant/websocket-event.enum.ts
  src/api/src/game/dtos/__test__/leave-game.dto.spec.ts
  src/api/src/game/dtos/exit-game.dto.ts
  src/api/src/game/dtos/leave-game.dto.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/test/MockData.ts
  src/client/RootSlice.tsx
  src/client/action/game.tsx
  src/client/saga/WebSocks.tsx
  src/client/saga/channel.tsx
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GamePopup/index.tsx
  src/ui/game/GameQuit/index.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/index.tsx
Labels: 👀 Frontend

feat(imports): update import paths for GameAction
  src/client/RootSlice.tsx
  src/client/SagaHelper.tsx
  src/client/action/game.action.tsx
  src/client/saga/WebSocks.tsx
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GameDealerJudge/index.tsx
  src/ui/game/GameDealerSelection/index.tsx
  src/ui/game/GameFeedback/index.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GamePlayerSelection/index.tsx
  src/ui/game/GamePopup/index.tsx
  src/ui/game/GameQuit/index.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/GameView/index.tsx
  src/ui/game/TextInputDebounced/TextInputDebounced.stories.tsx
  src/ui/game/UsernameCardContent/index.tsx
Labels: 👀 Frontend

feat(actions): update action handling and WebSocket logic
  src/client/SharedAction.ts
  src/client/action/game.action.tsx
  src/client/saga/WebSocks.tsx
Labels: 👀 Frontend

feat(enum): reorder
  src/api/src/constant/websocket-event.enum.ts
  src/client/SharedAction.ts
  src/client/saga/WebSocks.tsx
Labels: 👀 Frontend

feat(enum): add new WebSocket event type
  src/api/src/constant/websocket-event.enum.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/dtos/game-state.dto.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
  src/client/RootSlice.tsx
  src/client/saga/WebSocks.tsx
  src/ui/game/GamePopup/index.tsx
  src/ui/game/GameQuit/index.tsx
Labels: 👀 Frontend

feat(game-session): add exited player tracking
  src/api/src/game-session/game-session.entity.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
Labels: none

feat(refactor): game-session
  src/api/src/game-session/game-session.entity.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(cleanup): Removed debug statements and empty lines
  src/client/RootSlice.tsx
Labels: 👀 Frontend

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*
