Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*

chore(release): 1.0.45 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  3ee89922391dcbe17cda898e0c00929eefc84b95
Labels: 🔄 Pull Request

feat(debug): removed debugger
  src/ui/game/template/GameThemeProvider/index.tsx
Labels: none

chore(release): 1.0.46 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  50815d06200193fdf8ed9737d8fe7788b28d3d02
Labels: 🔄 Pull Request

feat(wiggle): wiggle bugs
  src/ui/game/component/GameCard/index.tsx
  src/ui/game/component/GameCard/type.tsx
  src/ui/game/component/GameDeckLayout/GameDeckLayout.stories.tsx
  src/ui/game/component/GameDeckLayout/index.tsx
  src/ui/game/component/GameWiggleBox/index.tsx
  src/ui/game/component/GameWiggleBox/type.tsx
  src/ui/game/screen/GameHome/GameJoinForm.tsx
  src/ui/game/screen/GameHome/GameTitleCard.tsx
Labels: none

feat(wiggle): fixed wiggle within a wiggle, wiggleception
  src/ui/game/component/GameCard/index.tsx
  src/ui/game/component/GameDebugCard/DebugTableRow.tsx
  src/ui/game/component/GameDebugCard/GameDebug.module.css
  src/ui/game/component/GameDebugCard/GameDebugTabs.tsx
  src/ui/game/component/GameDebugCard/index.tsx
  src/ui/game/component/GameDebugCard/type.tsx
  src/ui/game/component/GameWiggleBox/index.tsx
  src/ui/game/component/GameWiggleBox/type.tsx
  src/ui/game/screen/GameHome/GameTitleCard.tsx
  src/ui/game/screen/GameLobby/FoeList.tsx
Labels: none

feat(card): card box fixes
  src/ui/game/component/GameDeckLayout/index.tsx
  src/ui/game/component/GameText/index.tsx
  src/ui/game/component/GameWiggleBox/index.tsx
  src/ui/game/screen/GameHome/GameTitleCard.tsx
  src/ui/game/screen/GameHome/index.tsx
Labels: none

feat(menu): adding click back to menu
  src/ui/game/component/GameMenu/GameMenuDropdown.tsx
  src/ui/game/component/GameMenu/index.tsx
  src/ui/game/screen/GameHome/GameTitleCard.tsx
Labels: none

feat(dev): added developer popup
  src/ui/game/component/GameDev/GameDev.stories.tsx
  src/ui/game/component/GameDev/index.tsx
  src/ui/game/component/GameMenu/index.tsx
  src/ui/game/component/GamePopup/GamePopup.module.css
  src/ui/game/component/GamePopup/PopupContent.tsx
  src/ui/game/component/GamePopup/PopupModal.tsx
Labels: none

feature/wiggle (#132)
  src/ui/game/component/GameCard/index.tsx
  src/ui/game/component/GameCard/type.tsx
  src/ui/game/component/GameDebugCard/DebugTableRow.tsx
  src/ui/game/component/GameDebugCard/GameDebug.module.css
  src/ui/game/component/GameDebugCard/GameDebugTabs.tsx
  src/ui/game/component/GameDebugCard/index.tsx
  src/ui/game/component/GameDebugCard/type.tsx
  src/ui/game/component/GameDeckLayout/GameDeckLayout.stories.tsx
  src/ui/game/component/GameDeckLayout/index.tsx
  src/ui/game/component/GameDev/GameDev.stories.tsx
  src/ui/game/component/GameDev/index.tsx
  src/ui/game/component/GameMenu/GameMenuDropdown.tsx
  src/ui/game/component/GameMenu/index.tsx
  src/ui/game/component/GamePopup/GamePopup.module.css
  src/ui/game/component/GamePopup/PopupContent.tsx
  src/ui/game/component/GamePopup/PopupModal.tsx
  src/ui/game/component/GameText/index.tsx
  src/ui/game/component/GameWiggleBox/index.tsx
  src/ui/game/component/GameWiggleBox/type.tsx
  src/ui/game/screen/GameHome/GameJoinForm.tsx
  src/ui/game/screen/GameHome/GameTitleCard.tsx
  src/ui/game/screen/GameHome/index.tsx
  src/ui/game/screen/GameLobby/FoeList.tsx
Labels: none

feat(color): colorizing the box component
  src/ui/game/component/GameBox/index.tsx
  src/ui/game/component/GameBox/type.tsx
  src/ui/game/component/GameDev/index.tsx
  src/ui/game/component/GameFoe/index.tsx
  src/ui/game/screen/GameLobby/FoeList.tsx
Labels: none

feat(color): colorizing the box component (#133)
  src/ui/game/component/GameBox/index.tsx
  src/ui/game/component/GameBox/type.tsx
  src/ui/game/component/GameDev/index.tsx
  src/ui/game/component/GameFoe/index.tsx
  src/ui/game/screen/GameLobby/FoeList.tsx
Labels: none

chore(release): 1.0.47 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  21be40345768ad61b0695624120f6b0bde195ee4
Labels: 🔄 Pull Request

feat(ui): link to ui
  src/ui/game/component/GameDev/index.tsx
Labels: none

chore(release): 1.0.48 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  b3b168c67eed6579addb14270648f8a21e9adafc
Labels: 🔄 Pull Request

feat(board): allowing multiple games
  .nvmrc
  src/constant/framework/InitialState.tsx
  src/ui/game/component/GameApp/GameApp.stories.tsx
  src/ui/game/component/GameApp/index.tsx
  src/ui/game/component/GameApp/type.tsx
  src/ui/game/component/GameBoard/index.tsx
  src/ui/page/site/PageGame/index.tsx
Labels: 🔄 Pull Request

feat(slice): keying slice to lookup by id
  src/client/RootSlice.tsx
  src/type/framework/core/CoreAppRoot.tsx
  src/type/framework/core/GameState.tsx
Labels: 👀 Frontend

feat(state): slicing and dicing game state
  src/client/RootSlice.tsx
  src/client/action/game.action.tsx
  src/constant/framework/InitialState.tsx
  src/type/framework/core/GameState.tsx
Labels: 👀 Frontend

feat(multi): refactoring to allow multiple games
  src/api/src/constant/game-popup-type.enum.ts
  src/api/src/game/dtos/menu-item-clicked.dto.ts
  src/api/src/game/dtos/player.dto.ts
  src/api/src/game/dtos/update-timer.dto.ts
  src/client/RootSlice.tsx
  src/client/action/game.action.tsx
  src/client/saga/WebSocks.tsx
  src/client/selector/game.tsx
  src/constant/framework/GameState.tsx
  src/constant/framework/InitialState.tsx
  src/constant/framework/SpecialId.tsx
  src/type/framework/TimerState.tsx
  src/type/framework/core/CoreAppRoot.tsx
  src/type/framework/core/GameState.tsx
  src/ui/game/component/GameBoard/index.tsx
  src/ui/game/component/GameMenu/GameMenuItem.tsx
  src/ui/game/component/GameMenu/constant.tsx
  src/ui/game/component/GameMenu/index.tsx
  src/ui/game/component/GameMenu/menuLogic.tsx
  src/ui/game/component/GameMenu/type.tsx
  src/ui/game/component/GameToast/index.tsx
  src/ui/game/component/GameView/GameView.stories.tsx
  src/ui/game/component/GameView/index.tsx
  src/ui/game/component/GameView/type.tsx
  src/ui/game/screen/GameHome/GameHome.stories.tsx
  src/ui/game/screen/GameHome/index.tsx
  src/ui/game/screen/GameHome/type.tsx
  src/ui/game/screen/GamePlayerConfirm/GamePlayerConfirm.stories.tsx
Labels: 👀 Frontend

feat(multi): popup bug fixes and refactoring
  src/client/RootSlice.tsx
  src/constant/framework/InitialState.tsx
  src/ui/game/GameContext.tsx
  src/ui/game/component/GamePopup/index.tsx
  src/ui/game/component/GameToast/index.tsx
  src/ui/game/type.tsx
  src/ui/page/site/PageGame/index.tsx
Labels: 👀 Frontend

feat(multi): boards display
  src/client/RootSlice.tsx
  src/ui/game/screen/GameHome/index.tsx
  src/ui/page/site/PageGame/index.tsx
Labels: 👀 Frontend

feat(rand): updated random id and id is now required on cards
  src/constant/framework/InitialState.tsx
  src/constant/framework/SpecialId.tsx
  src/ui/game/component/GameCard/index.tsx
  src/ui/game/component/GameCard/type.tsx
  src/ui/game/component/GameDeck/GameDeckCards.tsx
  src/ui/game/component/GameWiggleBox/index.tsx
  src/ui/game/screen/GameHome/GameTitleCard.tsx
  src/ui/game/screen/GameLobby/FoeList.tsx
  src/ui/game/screen/GameLobby/ShareCard.tsx
  src/ui/game/screen/GamePlayerConfirm/index.tsx
  src/ui/game/screen/GameResults/ResultsCards.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameHomeHeader.tsx
  src/ui/page/site/PageGame/index.tsx
Labels: none

feat(selectors): best selector trick ever
  src/api/src/game/dtos/__test__/timer-complete.dto.spec.ts
  src/api/src/game/dtos/__test__/update-timer.dto.spec.ts
  src/api/src/game/dtos/timer-complete.dto.ts
  src/api/src/game/dtos/update-timer.dto.ts
  src/api/src/type.ts
  src/client/RootSlice.tsx
  src/client/saga/WebSockSaga.tsx
  src/client/saga/index.tsx
  src/client/selector/game.tsx
  src/constant/framework/GameState.tsx
  src/constant/framework/InitialState.tsx
  src/type/framework/TimerState.tsx
  src/type/framework/core/CoreAppRoot.tsx
  src/ui/game/component/GameBoard/index.tsx
  src/ui/game/component/GameToast/index.tsx
Labels: 👀 Frontend

feat(socket): getting shared sockets working
  src/client/saga/WebSockSaga.tsx
  src/client/selector/game.tsx
  src/type/framework/core/AppContextModel.tsx
  src/ui/game/GameContext.tsx
  src/ui/game/component/GameBoard/GameBoardContext.tsx
  src/ui/game/component/GameBoard/index.tsx
  src/ui/game/component/GameBoard/type.tsx
  src/ui/game/component/GameDebug/index.tsx
  src/ui/game/component/GameFoesCardContent/index.tsx
  src/ui/game/component/GameMenu/GameMenuDropdown.tsx
  src/ui/game/component/GameMenu/index.tsx
  src/ui/game/component/GamePlayerSelection/index.tsx
  src/ui/game/component/GamePopup/index.tsx
  src/ui/game/component/GameView/index.tsx
  src/ui/game/component/ShareCardContent/index.tsx
  src/ui/game/component/UsernameCardContent/index.tsx
  src/ui/game/screen/GameDealerSelection/index.tsx
  src/ui/game/screen/GameLobby/index.tsx
  src/ui/game/screen/GameWaiting/index.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/DealerPickBlackCard.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/DealerPickWinner.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameHomeHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/HeaderContent.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/PlayerPickWhiteCard.tsx
  src/ui/game/template/GameTemplate/index.tsx
  src/ui/game/template/TemplateContext.tsx
  src/ui/game/type.tsx
Labels: none

feat(socket): getting shared sockets working
  src/client/selector/game.tsx
  src/ui/GameBoardContext.tsx
  src/ui/TemplateContext.tsx
  src/ui/game/component/GameBoard/index.tsx
  src/ui/game/component/GameDebug/GameDebugTabs.tsx
  src/ui/game/component/GameDebug/index.tsx
  src/ui/game/component/GameDebug/type.tsx
  src/ui/game/component/GameFoesCardContent/index.tsx
  src/ui/game/component/GameMenu/GameMenuDropdown.tsx
  src/ui/game/component/GameMenu/index.tsx
  src/ui/game/component/GameMenu/menuLogic.tsx
  src/ui/game/component/GamePlayerSelection/index.tsx
  src/ui/game/component/GamePopup/index.tsx
  src/ui/game/component/GameScoreboard/index.tsx
  src/ui/game/component/GameToast/index.tsx
  src/ui/game/component/GameView/index.tsx
  src/ui/game/component/ShareCardContent/ShareCardTooltip.tsx
  src/ui/game/component/ShareCardContent/index.tsx
  src/ui/game/component/ShareCardContent/type.tsx
  src/ui/game/component/UsernameCardContent/index.tsx
  src/ui/game/screen/GameComplete/index.tsx
  src/ui/game/screen/GameDealerJudge/index.tsx
  src/ui/game/screen/GameDealerSelection/index.tsx
  src/ui/game/screen/GameLobby/index.tsx
  src/ui/game/screen/GameResults/index.tsx
  src/ui/game/screen/GameWaiting/index.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/DealerPickBlackCard.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/DealerPickWinner.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameHomeHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/HeaderContent.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/template/TemplateContext.tsx
  src/ui/game/type.tsx
  src/ui/type.tsx
Labels: 🌈 UI/UX

feat(socket): getting shared sockets working
  src/client/action/game.action.tsx
  src/client/saga/WebSockSaga.tsx
  src/constant/framework/GameState.tsx
  src/constant/framework/InitialState.tsx
  src/constant/framework/SpecialId.tsx
  src/ui/game/component/GameDebug/index.tsx
  src/ui/game/component/GameQuit/index.tsx
  src/ui/game/component/GameScoreboard/index.tsx
  src/ui/game/component/GameToast/index.tsx
  src/ui/game/screen/GameComplete/index.tsx
  src/ui/game/screen/GameDealerJudge/index.tsx
  src/ui/game/screen/GameLobby/index.tsx
  src/ui/game/screen/GameResults/index.tsx
  src/ui/game/screen/GameWaiting/index.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/HeaderContent.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/PlayerPickWhiteCard.tsx
  src/ui/page/site/PageGame/index.tsx
Labels: none

feat(socket): getting shared sockets working
  src/client/RootSlice.tsx
  src/client/action/game.action.tsx
  src/ui/game/component/GameFeedback/index.tsx
  src/ui/game/component/GamePlayerSelection/index.tsx
  src/ui/game/component/GameQuit/index.tsx
  src/ui/game/component/GameView/index.tsx
  src/ui/game/component/UsernameCardContent/index.tsx
  src/ui/game/screen/GameComplete/index.tsx
  src/ui/game/screen/GameDealerJudge/index.tsx
  src/ui/game/screen/GameDealerSelection/index.tsx
  src/ui/game/screen/GameHome/GameHomeLogic.tsx
  src/ui/game/screen/GameHome/ResizeButton.tsx
  src/ui/game/screen/GameHome/index.tsx
  src/ui/game/screen/GameHome/type.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/PlayerPickWhiteCard.tsx
Labels: 👀 Frontend

feat(socket): getting shared sockets working
  src/client/RootSlice.tsx
  src/client/action/game.action.tsx
  src/client/saga/WebSockSaga.tsx
  src/client/selector/game.tsx
  src/ui/game/component/GameBoard/index.tsx
Labels: 👀 Frontend

feat(socket): getting shared sockets working
  src/api/src/sock/sock.service.ts
  src/api/src/sock/type.ts
  src/client/RootSlice.tsx
  src/client/saga/WebSockSaga.tsx
Labels: 👀 Frontend

feat(multi): multiple panels display dynamically
  src/client/RootSlice.tsx
  src/client/selector/game.tsx
  src/ui/game/component/GameBoard/index.tsx
  src/ui/page/site/PageGame/index.tsx
Labels: 👀 Frontend

feat(test): git
  .devcontainer/devcontainer.json
Labels: none

chore(release): 1.0.49 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  0ebca656517e3d638d6cd4357d2d433dd41d070a
Labels: 🔄 Pull Request

feat(aws): aws release
  deleteme
Labels: 🔄 Pull Request

feat(test): ssh test
  deleteme
Labels: 🔄 Pull Request

feat(ssh): testing signed commits
  test-123
Labels: 🔄 Pull Request

feat(gpg): test
  deleteme
Labels: 🔄 Pull Request
