Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*

feat(ai-commit): update comment - In "internal/script/ai-commit.ts", a comment line was replaced with an updated version.
  internal/script/ai-commit.ts
Labels: none

feat(script): Update logging and UI texts - internal/script/ai-commit.ts: Modified logging statement - src/ui/game/GameBoard/index.tsx: Changed game start text and commented out GameView component
  internal/script/ConsoleUtil.ts
  internal/script/ai-commit.ts
  src/ui/game/GameBoard/index.tsx
Labels: none

feat(logOutput): Update output text in ai-commit.ts - Modified "internal/script/ai-commit.ts" - Altered output text of logColor function.
  internal/script/ai-commit.ts
Labels: none

feat(GameFiles): Update import statements and remove unused code
  internal/script/code/Codebase.md
  src/client/AppTheme.tsx
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameMenu/GameMenuDropdown.tsx
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GameTemplate/GameTemplate.module.css
  src/ui/game/GameTemplate/GameTemplateHeader/index.tsx
  src/ui/game/GameTemplate/index.tsx
Labels: 👀 Frontend

feat(code): Update various game files
  src/pages/_document.tsx
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/GameHomeHeader.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/HeaderContent.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/index.tsx
  src/ui/game/GameTemplate/index.tsx
  src/ui/game/GameText/index.tsx
Labels: none

feat(GameHome): Expand and modify GameHome component
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameTemplate/GameTemplate.module.css
  src/ui/game/GameTemplate/index.tsx
Labels: none

feat(debugging): Add isDebugging property and importations
  src/api/src/util/util.service.ts
  src/type/framework/core/AppContextModel.tsx
  src/ui/AppContext.tsx
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameTemplate/index.tsx
  src/ui/game/GameText/index.tsx
Labels: 🌈 UI/UX

feat(AppContext): Update context imports and debugging state
  src/ui/AppContext.tsx
  src/ui/game/GameBox/index.tsx
  src/ui/game/GameStack/index.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/index.tsx
  src/ui/game/GameWiggleBox/index.tsx
  src/ui/game/TextInputDebounced/index.tsx
Labels: 🌈 UI/UX

feat(GameBox): Update UI components and add comments
  src/ui/game/GameBox/index.tsx
  src/ui/game/GameLobby/PlayerWarning.tsx
  src/ui/game/GameText/index.tsx
  src/ui/game/GameText/type.tsx
Labels: none

feat(Game): Update script, UI, CSS, and types
  internal/script/ai-commit.ts
  src/ui/game/GameBox/index.tsx
  src/ui/game/GameTemplate/GameTemplate.module.css
  src/ui/game/GameTemplate/GameTemplateHeader/index.tsx
  src/ui/game/GameText/type.tsx
Labels: none

feat(game-ui): updated game UI and functionality
  internal/script/ai-commit.ts
  src/api/src/entity/entity.service.ts
  src/ui/game/GameBanner/index.tsx
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameCardContainer/GameCardContainer.module.css
  src/ui/game/GameCardContainer/Logic.tsx
  src/ui/game/GameCardContainer/cardStyles.tsx
  src/ui/game/GameCardContainer/index.tsx
  src/ui/game/GameCardContainer/type.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/GameText/type.tsx
Labels: none

refactor(docs): clarify guidance on file name usage in commit messages
  internal/script/ai-commit.ts
Labels: none

docs(script): improve commit message guidelines in ai-commit.ts
  internal/script/ai-commit.ts
Labels: none

feat(GameCardContainer): implement changes and deletions to improve code readability and performance
  src/ui/game/GameCard/GameCard.module.css
  src/ui/game/GameCard/GameCard.stories.tsx
  src/ui/game/GameCard/GameCardContainer.module.css
  src/ui/game/GameCard/Logic.tsx
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameCard/type.tsx
  src/ui/game/GameCardContainer/GameCardContainer.module.css
  src/ui/game/GameCardContainer/Logic.tsx
  src/ui/game/GameCardContainer/index.tsx
  src/ui/game/GameCardContainer/type.tsx
  src/ui/game/GameCardContainer/useHoverEffect.tsx
  src/ui/game/GameDealerConfirm/index.tsx
  src/ui/game/GameDealerJudge/index.tsx
  src/ui/game/GameDealerSelection/index.tsx
  src/ui/game/GameDeck/GameCardList.tsx
  src/ui/game/GameDeck/type.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameLobby/FoeList.tsx
  src/ui/game/GameLobby/PlayerWarning.tsx
  src/ui/game/GameLobby/ShareCard.tsx
  src/ui/game/GamePlayerConfirm/index.tsx
  src/ui/game/GameResults/ResultsCards.tsx
  src/ui/game/GameResults/ScoreboardSection.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/GameHomeHeader.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/GameWaiting/StatusTableRenderer.tsx
  src/ui/game/GameWaiting/type.tsx
  src/ui/game/type.tsx
Labels: none

feat(deps): dependency tree simplification by removing useless type hint
  package.json
  pnpm-lock.yaml
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameCard/GameCard.module.css
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GameDealerConfirm/index.tsx
  src/ui/game/GameDealerJudge/index.tsx
  src/ui/game/GameDealerSelection/index.tsx
  src/ui/game/GameFeedback/index.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameLobby/FoeList.tsx
  src/ui/game/GameLobby/PlayerWarning.tsx
  src/ui/game/GameLobby/index.tsx
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GamePlayerConfirm/index.tsx
  src/ui/game/GamePlayerSelection/index.tsx
  src/ui/game/GamePopup/index.tsx
  src/ui/game/GameQuit/index.tsx
  src/ui/game/GameResults/index.tsx
  src/ui/game/GameScoreboard/index.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/DealerPickBlackCard.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/DealerPickWinner.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/GameHomeHeader.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/HeaderContent.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/PlayerPickWhiteCard.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/index.tsx
  src/ui/game/GameText/index.tsx
  src/ui/game/GameToast/index.tsx
  src/ui/game/GameView/index.tsx
  src/ui/game/GameWaiting/StatusTableRenderer.tsx
  src/ui/game/ShareCardContent/index.tsx
  src/ui/game/UsernameCardContent/index.tsx
Labels: 🔄 Pull Request

feat(GameStatusTableTitle): refactor code for improved readability
  src/ui/game/GameStatusTable/GameStatusTableTitle.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/DealerPickBlackCard.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
Labels: none

feat(ai): introduce changes to maximize 'max-len' rule and add 'ChatCompletionResponse' interface in 'ai-commit.ts'
  internal/script/ai-commit.ts
Labels: none

feat(GameCard): update import statements for improved code structuring - src/ui/game/GameCard/index.tsx - Added import for 'html-react-parser'. - Removed an unspecified import statement.
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameDealerConfirm/index.tsx
Labels: none

refactor(ui): update CSS styling and component props
  src/ui/game/GameButton/GameButton.module.css
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameButton/type.tsx
  src/ui/game/GameCard/index.tsx
Labels: none

refactor(game UI): adjust GameCard types and remove unused imports - src/ui/game/GameCard/index.tsx - Replaced GameCardType.Centered with GameCardType.Stack on line 184.
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameDeckLayout/index.tsx
  src/ui/game/GameHome/index.tsx
Labels: none

Added AI interaction and commit helper functionality. This included:
  internal/script/ai-commit/ai-helpers.ts
  internal/script/ai-commit/commit-message.ts
  internal/script/ai-commit/constant.tsx
  internal/script/ai-commit/git-helpers.ts
  internal/script/ai-commit/index.ts
  internal/script/ai-commit/logger.ts
  internal/script/ai-commit/type.ts
Labels: none

Added Datadog comment in DockerfileAPI, added slick-commit script in package.json, and updated @nestjs/common and @nestjs/core versions in pnpm-lock.yaml
  DockerfileAPI
  package.json
  pnpm-lock.yaml
Labels: 🔄 Pull Request

Removed cmsg script line from package.json file.
  package.json
Labels: 🔄 Pull Request

chore(setup): reinstalled udated os
  .devcontainer/devcontainer.json
  .vscode/launch.json
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameDeck/index.tsx
  src/ui/game/GameDeckLayout/index.tsx
  src/ui/game/GameLobby/index.tsx
Labels: none

feat(background): updating background for testing
  .gitignore
  .vscode/launch.json
  internal/script/reset.ts
  package.json
  pnpm-lock.yaml
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameLobby/index.tsx
  src/ui/game/GameTemplate/GameTemplate.module.css
  src/ui/game/GameText/index.tsx
Labels: 🔄 Pull Request

feat(ui): various fixes
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameText/index.tsx
  src/ui/game/GameText/type.tsx
Labels: none

feat(ui): front page fixups
  src/ui/AppContext.tsx
  src/ui/game/GameHome/GameJoinForm.tsx
  src/ui/game/GameHome/GameTitleCard.tsx
  src/ui/game/GameHome/ResizeButton.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameHome/type.tsx
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GameTemplate/index.tsx
  vsc-extensions.txt
  vscode.code-workspace
Labels: 🔄 Pull Request, 🌈 UI/UX

feat(ui): refactoring ui on home
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameDeckLayout/index.tsx
  src/ui/game/GameDeckLayout/type.tsx
  src/ui/game/GameFoesCardContent/FoeContent.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameLobby/index.tsx
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GameResults/index.tsx
  src/ui/game/GameWiggleBox/index.tsx
  src/ui/game/GameWiggleBox/type.tsx
Labels: none

feat(ui): alignment fixes
  src/ui/game/GameBanner/index.tsx
  src/ui/game/GameGroup/index.tsx
  src/ui/game/GameGroup/type.tsx
  src/ui/game/GameHome/GameJoinForm.tsx
  src/ui/game/GamePlayerConfirm/index.tsx
  src/ui/game/GameStack/index.tsx
  src/ui/game/GameStack/type.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/index.tsx
  src/ui/game/constant.tsx
Labels: none

feat(ui): prep work
  .vscode/launch.json
  internal/script/browser-launcher.ts
Labels: none

chore(release): 1.0.25 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  3f8ea80f2aeb4dddb99e9a773a102b995d644694
Labels: 🔄 Pull Request

feat(datadog): testing datadog
  DockerfileAPI
Labels: 🔄 Pull Request

feat(git): testing signed commits
  deleteme
Labels: 🔄 Pull Request

feat(git): testing signed commits
  deleteme
Labels: 🔄 Pull Request

chore(release): 1.0.26 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  33a67341113e1df3b7e2a13cde3c14b14b0fb267
Labels: 🔄 Pull Request

feat(git): testing signed commits
  DockerfileAPI
Labels: 🔄 Pull Request

chore(release): 1.0.27 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  669b08314616da9239628b3232d9311f1e7d145a
Labels: 🔄 Pull Request
