Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*

feat(game): update methods and enhance documentation
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
Labels: none

feat(game-session): add new column and update method
  src/api/src/game-session/game-session.entity.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/dtos/game-state.dto.ts
  src/api/src/game/game.service.ts
Labels: none

feat(update): various code improvements and refactoring
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
Labels: none

feat(game-session): add promotion and skipping functionality
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/dtos/__test__/game-state.dto.spec.ts
  src/api/src/game/game.service.ts
Labels: none

feat(updates): summary
  internal/script/puppet.ts
  src/api/src/game-session/game-session.service.ts
Labels: none

feat(game): update and comment
  src/api/src/game/game.service.ts
Labels: none

feat(workflow): remove Codacy security scan
  .github/workflows/codacy.yml
  deleteme
Labels: 🔄 Pull Request

feat(refactor): update WebSockException import path
  src/api/src/framework/exceptions/WebSockException.ts
  src/api/src/framework/exceptions/WebSockSuccess.tsx
  src/api/src/game/game.service.ts
Labels: none

feat(exceptions): add WebSocket exception handling and update services
  src/api/src/exceptions/WebSocket.exception.ts
  src/api/src/exceptions/WebSocketEmitGame.exception.ts
  src/api/src/framework/exceptions/WebSockException.ts
  src/api/src/framework/exceptions/WebSockSuccess.tsx
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/api/src/type.ts
Labels: none

feat(exception): introduction and refactor of game exceptions
  src/api/src/exceptions/Game.exception.ts
  src/api/src/exceptions/GameComplete.exception copy.ts
  src/api/src/exceptions/GameComplete.exception.ts
  src/api/src/exceptions/WebSocketEmitGame.exception.ts
  src/api/src/game/game.service.ts
Labels: none

feat(websocket): update WebSocket handling
  src/api/src/constant/websocket-event.enum.ts
  src/api/src/filters/WebSocketException.filter.ts
  src/api/src/game/game.gateway.ts
Labels: none

feat(game): summary of changes
  src/api/src/app.module.ts
  src/api/src/exceptions/Game.exception.ts
  src/api/src/exceptions/GameComplete.exception copy.ts
  src/api/src/exceptions/GameCompleteMinPlayers.exception.ts
  src/api/src/exceptions/GameTooFewPlayers.exception.ts
  src/api/src/exceptions/WebSocket.exception.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/middleware/RequestLog.middleware.ts
Labels: none

feat(game): update exception handling and socket management
  src/api/src/exceptions/GameComplete.exception.ts
  src/api/src/exceptions/GameCompleteMinPlayers.exception.ts
  src/api/src/exceptions/GameTooFewPlayers.exception.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/filters/WebSocketException.filter.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.module.ts
  src/api/src/game/game.service.ts
Labels: none

feat(exceptions): rename exception classes for clarity
  src/api/src/exceptions/GameNoPlayers.exception.ts
  src/api/src/exceptions/GameNotEnoughPlayers.exception.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/game/game.service.ts
Labels: none

feat(exception): summary
  src/api/src/filters/GameException.filter.ts
Labels: none

feat(game): improve documentation and exception handling
  src/api/src/filters/GameException.filter.ts
  src/api/src/game/game.service.ts
Labels: none

feat(guide): enhance commit message guidelines
  internal/script/ai-commit.ts
Labels: none

feat(guidelines): summary
  internal/script/ai-commit.ts
Labels: none

feat(commit): updated commit message instructions
  internal/script/ai-commit.ts
Labels: none

feat(code-quality): add iterative process for code improvement
  code-quality.ai
Labels: 🔄 Pull Request

feat(api): updated exception flow in api (#47)
  code-quality.ai
  internal/script/ai-commit.ts
  src/api/src/app.module.ts
  src/api/src/constant/websocket-event.enum.ts
  src/api/src/exceptions/Game.exception.ts
  src/api/src/exceptions/GameComplete.exception.ts
  src/api/src/exceptions/GameNoPlayers.exception.ts
  src/api/src/exceptions/GameNotEnoughPlayers.exception.ts
  src/api/src/exceptions/WebSocket.exception.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/filters/WebSocketException.filter.ts
  src/api/src/framework/WebSockException.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.module.ts
  src/api/src/game/game.service.ts
  src/api/src/middleware/RequestLog.middleware.ts
  src/api/src/type.ts
Labels: 🔄 Pull Request

feat(entities): add new entities and update configurations
  .vscode/settings.json
  internal/kill-team/data-source.tsxxx
  internal/kill-team/entities/Ability.tsxxx
  internal/kill-team/entities/BattleResult.tsxxx
  internal/kill-team/entities/DeploymentZone.tsxxx
  internal/kill-team/entities/Faction.tsxxx
  internal/kill-team/entities/Game.tsxxx
  internal/kill-team/entities/GameEvent.tsxxx
  internal/kill-team/entities/GameLog.tsxxx
  internal/kill-team/entities/KillTeam.tsxxx
  internal/kill-team/entities/Mission.tsxxx
  internal/kill-team/entities/Player.tsxxx
  internal/kill-team/entities/Terrain.tsxxx
  internal/kill-team/entities/Unit.tsxxx
  internal/kill-team/entities/Weapon.tsxxx
  internal/kill-team/entities/WeaponProfile.tsxxx
  internal/kill-team/seed.tsxxx
  src/api/tsconfig.dev.json
  src/api/tsconfig.json
Labels: none

release(kraken): refactored auth flows (#48)
  .vscode/settings.json
  code-quality.ai
  internal/kill-team/data-source.tsxxx
  internal/kill-team/entities/Ability.tsxxx
  internal/kill-team/entities/BattleResult.tsxxx
  internal/kill-team/entities/DeploymentZone.tsxxx
  internal/kill-team/entities/Faction.tsxxx
  internal/kill-team/entities/Game.tsxxx
  internal/kill-team/entities/GameEvent.tsxxx
  internal/kill-team/entities/GameLog.tsxxx
  internal/kill-team/entities/KillTeam.tsxxx
  internal/kill-team/entities/Mission.tsxxx
  internal/kill-team/entities/Player.tsxxx
  internal/kill-team/entities/Terrain.tsxxx
  internal/kill-team/entities/Unit.tsxxx
  internal/kill-team/entities/Weapon.tsxxx
  internal/kill-team/entities/WeaponProfile.tsxxx
  internal/kill-team/seed.tsxxx
  internal/script/ai-commit.ts
  src/api/src/app.module.ts
  src/api/src/constant/websocket-event.enum.ts
  src/api/src/exceptions/Game.exception.ts
  src/api/src/exceptions/GameComplete.exception.ts
  src/api/src/exceptions/GameNoPlayers.exception.ts
  src/api/src/exceptions/GameNotEnoughPlayers.exception.ts
  src/api/src/exceptions/WebSocket.exception.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/filters/WebSocketException.filter.ts
  src/api/src/framework/WebSockException.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.module.ts
  src/api/src/game/game.service.ts
  src/api/src/middleware/RequestLog.middleware.ts
  src/api/src/type.ts
  src/api/tsconfig.dev.json
  src/api/tsconfig.json
Labels: 🔄 Pull Request

feat(formatter): update
  .vscode/settings.json
  src/api/src/data-source.ts
  src/middleware.tsx
Labels: none

feat(cleanup): remove unused file
  deleteme
Labels: 🔄 Pull Request

feat(refactor): update formatters and improve environment handling
  .vscode/settings.json
  src/Env.tsx
  src/api/src/__test__/environment.spec.ts
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameHome/index.tsx
Labels: none

feat(filters): update and enhance various filters
  code-quality.ai
  src/api/src/exceptions/Game.exception.ts
  src/api/src/exceptions/WebSocket.exception.ts
  src/api/src/filters/CatchAllWs.filter.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/filters/GameWebSocketException.filter.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.module.ts
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
Labels: 🔄 Pull Request

feat(alignment): parameter alignment and cleanup
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(websocket): update imports and exception handling
  src/api/src/filters/CatchAllWs.filter.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/filters/GameWebSocketException.filter.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
Labels: none

feat(debug): remove debugger statements
  src/api/src/exceptions/WebSocket.exception.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.service.ts
Labels: none

feat(refactor): code cleanup and debugging updates
  src/api/src/exceptions/Game.exception.ts
  src/api/src/exceptions/GameComplete.exception.ts
  src/api/src/exceptions/GameNoPlayers.exception.ts
  src/api/src/exceptions/GameNotEnoughPlayers.exception.ts
  src/api/src/game/game.service.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(game): update game files
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/guards/GameAuth.guard.ts
  src/client/saga/WebSocks.tsx
Labels: none

feat(debugging): enhance and refactor debugging
  src/api/src/game/game.service.ts
  src/api/src/guards/GameAuth.guard.ts
Labels: none

feat(flows): verifying user flows (#62)
  .vscode/settings.json
  code-quality.ai
  deleteme
  src/Env.tsx
  src/api/src/__test__/environment.spec.ts
  src/api/src/exceptions/Game.exception.ts
  src/api/src/exceptions/GameComplete.exception.ts
  src/api/src/exceptions/GameNoPlayers.exception.ts
  src/api/src/exceptions/GameNotEnoughPlayers.exception.ts
  src/api/src/exceptions/WebSocket.exception.ts
  src/api/src/filters/CatchAllWs.filter.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/filters/GameWebSocketException.filter.ts
  src/api/src/filters/WebSocketException.filter.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.module.ts
  src/api/src/game/game.service.ts
  src/api/src/guards/GameAuth.guard.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameHome/index.tsx
Labels: 🔄 Pull Request

release(kraken): Update and Refactor Game Service and Related Components (#79)
  .vscode/settings.json
  code-quality.ai
  deleteme
  src/Env.tsx
  src/api/src/__test__/environment.spec.ts
  src/api/src/exceptions/Game.exception.ts
  src/api/src/exceptions/GameComplete.exception.ts
  src/api/src/exceptions/GameNoPlayers.exception.ts
  src/api/src/exceptions/GameNotEnoughPlayers.exception.ts
  src/api/src/exceptions/WebSocket.exception.ts
  src/api/src/filters/CatchAllWs.filter.ts
  src/api/src/filters/GameException.filter.ts
  src/api/src/filters/GameWebSocketException.filter.ts
  src/api/src/filters/WebSocketException.filter.ts
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.module.ts
  src/api/src/game/game.service.ts
  src/api/src/guards/GameAuth.guard.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameHome/index.tsx
Labels: 🔄 Pull Request

feat(update): summary
  deleteme
Labels: 🔄 Pull Request

feat(workflow): add new GitHub Actions workflows and update environment configs
  .github/workflows/pipeline-dev-api.yaml
  .github/workflows/pipeline-dev-ui.yaml
  .github/workflows/pipeline-dev-web.yaml
  src/Env.tsx
  src/api/src/__test__/environment.spec.ts
  src/api/src/app.module.ts
  src/api/src/score-log/score-log.entity.ts
  src/api/src/score-log/score-log.service.ts
  src/api/src/sock/sock.module.ts
  src/api/src/util.ts
Labels: none

feat(pipeline): update CI pipeline
  .github/workflows/pipeline-dev-web.yaml
Labels: none

feat(pipeline): update
  internal/pipeline-dev-api.yaml
  internal/pipeline-dev-ui.yaml
Labels: 🛠️ Internal Tool

feat(pipeline): update pipeline configuration
  .github/workflows/pipeline-dev-web.yaml
Labels: none
