Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

feat(ci): rebuilding pipeline
  .github/workflows/crudecards-pipeline-dev-api.yaml
  .github/workflows/crudecards-pipeline-dev-ui.yaml
  .github/workflows/crudecards-pipeline-dev-web.yaml
Labels: none

feat(ssh): testing key
  .github/workflows/crudecards-pipeline-dev-web.yaml
Labels: none

feat(trunk): removed crashing package
  package.json
  pnpm-lock.yaml
Labels: 🔄 Pull Request

chore(release): 1.0.50 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  f7f574a6ad841cda5f015075efb73c945fa1f20b
Labels: 🔄 Pull Request

feat(ci): fixing ci errors
  .github/workflows/crudecards-pipeline-dev-web.yaml
  src/Env.tsx
  src/api/src/__test__/environment.spec.ts
  src/constant/framework/Pusher.tsx
Labels: none

chore(release): 1.0.51 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  aa16ff0e56f2eb5b7cb638cc157e90f556d20a06
Labels: 🔄 Pull Request

testing builds
  removeme
Labels: 🔄 Pull Request

removed github ci, redundant
  .github/workflows/.gitkeep
  .github/workflows/crudecards-pipeline-dev-api.yaml
  .github/workflows/crudecards-pipeline-dev-ui.yaml
  .github/workflows/crudecards-pipeline-dev-web.yaml
Labels: none

testing aws builds
  deleteme
Labels: 🔄 Pull Request

testing aws builds
  amplify.yml
  package.json
Labels: 🔄 Pull Request

testing aws builds
  amplify.yml
Labels: 🔄 Pull Request

testing aws builds
  amplify.yml
Labels: 🔄 Pull Request

converting to esm and getting ci working
  .vscode/settings.json
  src/api/package.json
  src/api/pnpm-lock.yaml
  src/api/src/app.module.ts
  src/api/src/data-source.ts
  src/api/src/migrations/1742662300863-PostRefactoring.ts
  src/api/tsconfig.dev.json
  src/api/tsconfig.json
  src/ui/__tests__/toFormattedDate.spec.tsx
Labels: none

cleanup
  cli-pew/data/STAR_Method_Interview_Preparation_Shuffled.md
  deleteme
  test-123
Labels: 🔄 Pull Request

amp built
  .gcloudignore
  amplify.yml
  package.json
  src/api/package.json
  src/api/pnpm-lock.yaml
  src/api/src/log/Log.module.ts
  src/api/src/main.ts
  src/api/src/migrations/1742688735076-PostRefactoring.ts
Labels: 🔄 Pull Request

testing dynamic commands
  package.json
Labels: 🔄 Pull Request

testing amplify
  deleteme
Labels: 🔄 Pull Request

testing docker
  DockerfileAPI
  package.json
Labels: 🔄 Pull Request

dockerizing whole thing
  internal/docker/DockerfileAPI
  internal/docker/DockerfileFeature
  internal/docker/DockerfileUI
  internal/docker/DockerfileWeb
  internal/notes.txt
  internal/script/docker.ts
  package.json
Labels: 🔄 Pull Request, 🛠️ Internal Tool

feat(ci): added build and push docker script
  docker-compose.yml
  internal/docker/DockerfileFeature
  internal/docker/DockerfileUI
  internal/docker/DockerfileWeb
  internal/docker_push.md
  internal/script/docker.ts
  package.json
  pnpm-lock.yaml
Labels: 🔄 Pull Request, 🛠️ Internal Tool

feat(docker): testing docker
  internal/docker/DockerfileAPI
Labels: none

feat(docker): full image names
  docker-compose.yml
  internal/script/docker.ts
  src/api/src/__test__/environment.spec.ts
Labels: 🔄 Pull Request

feat(404): testing
  internal/script/docker.ts
  src/pages/404.tsx
Labels: none

feat(debug): disable caching for debugging
  internal/script/docker.ts
Labels: none

feat(debug): disable caching for debugging
  next.config.mjs
  src/ui/game/screen/GameHome/GameTitleCard.tsx
Labels: 🔄 Pull Request

feat(script): updated deploy script to fully automate
  internal/docker_push.md
  internal/script/docker.ts
  next.config.mjs
  package.json
  src/api/src/__test__/environment.spec.ts
Labels: 🔄 Pull Request, 🛠️ Internal Tool

removing randomness
  .vscode/settings.json
  next.config.mjs
  src/ui/game/component/GameCard/index.tsx
  src/ui/game/component/GameCard/type.tsx
  src/ui/game/component/GameDeck/GameDeckCards.tsx
  src/ui/game/screen/GameHome/GameTitleCard.tsx
  src/ui/game/screen/GameLobby/FoeList.tsx
  src/ui/game/screen/GamePlayerConfirm/index.tsx
  src/ui/game/screen/GameResults/ResultsCards.tsx
  src/ui/game/screen/GameWaiting/StatusTableRenderer.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameHomeHeader.tsx
Labels: 🔄 Pull Request

fixed server mismatch
  src/ui/game/component/GameCard/index.tsx
  src/ui/game/component/GameCard/type.tsx
Labels: none

fixed all react id updates
  src/ui/game/component/GameCard/type.tsx
  src/ui/game/screen/GameHome/GameJoinForm.tsx
  src/ui/game/screen/GameLobby/FoeList.tsx
  src/ui/game/screen/GameLobby/PlayerWarning.tsx
  src/ui/game/screen/GameLobby/ShareCard.tsx
  src/ui/game/screen/GameResults/ScoreboardSection.tsx
Labels: none

cleanup
  internal/docker/DockerfileAPI
  internal/docker/DockerfileWeb
  src/ui/game/component/GameBox/index.tsx
  src/ui/game/screen/GameHome/GameTitleCard.tsx
Labels: none

reafctoring
  internal/pipeline-dev-api.yaml
  internal/pipeline-dev-ui.yaml
  internal/pipeline-dev-web.yaml
  internal/script/docker.ts
  next.config.mjs
  package.json
  src/Env.tsx
  src/api/src/__test__/environment.spec.ts
  src/api/src/__test__/main.spec.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/main.ts
  src/client/saga/WebSocks.tsx
  src/ui/game/component/GameMenu/constant.tsx
Labels: 🔄 Pull Request, 🛠️ Internal Tool

debugging
  src/api/src/game-session/game-session.service.ts
  src/api/src/game/game.gateway.ts
  src/api/src/game/game.service.ts
  src/api/src/game/type.ts
  src/api/src/player/player.service.ts
  src/api/src/sock/sock.service.ts
  src/api/src/sock/type.ts
  src/client/saga/WebSocks.tsx
  src/ui/AppContext.tsx
  src/ui/game/screen/GameHome/index.tsx
  src/ui/game/template/GameThemeProvider/index.tsx
Labels: 🌈 UI/UX

testing test libraries
  .vscode/launch.json
  internal/script/puppet.ts
  package.json
  pnpm-lock.yaml
  src/__test__/puppet.ts
  src/__test__/websocket.test.ts
  src/api/src/game/game.service.ts
  src/api/src/player/player.service.ts
  src/client/RootSlice.tsx
  src/client/action/game.action.tsx
  src/client/saga/WebSocks.tsx
  src/ui/game/component/GameFeedback/index.tsx
  src/ui/game/component/GameMenu/index.tsx
  src/ui/game/component/GamePlayerSelection/index.tsx
  src/ui/game/component/GameQuit/index.tsx
  src/ui/game/component/GameView/index.tsx
  src/ui/game/component/UsernameCardContent/index.tsx
  src/ui/game/screen/GameComplete/index.tsx
  src/ui/game/screen/GameDealerJudge/index.tsx
  src/ui/game/screen/GameDealerSelection/index.tsx
  src/ui/game/screen/GameHome/GameHomeLogic.tsx
  src/ui/game/screen/GameHome/GameJoinForm.tsx
  src/ui/game/screen/GameHome/ResizeButton.tsx
  src/ui/game/screen/GameHome/index.tsx
  src/ui/game/screen/GameHome/type.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/GameResultsHeader.tsx
  src/ui/game/template/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
Labels: 🔄 Pull Request, 👀 Frontend

cors ugh
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/Env.tsx
  src/__test__/websocket.test.ts
  src/api/src/__test__/environment.spec.ts
  src/api/src/__test__/main.spec.ts
  src/api/src/main.ts
  src/client/saga/WebSocks.tsx
  src/constant/framework/BrowserWindowLocationOrigin.tsx
  src/ui/game/component/GameShare/GameShareButton.tsx
  src/ui/game/screen/GameHome/ResizeButton.tsx
Labels: 🔄 Pull Request

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*
