Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

feat(lock): updated lock and packages
  src/api/pnpm-lock.yaml
Labels: none

Add cards pipeline for dev web environment and remove obsolete tests
  .github/workflows/pipeline-dev-web.yaml
  src/api/src/game/__test__/GameGateway.spec.ts
  src/constant/framework/__test__/ColorTheme.test.tsx
  src/constant/framework/__test__/MakeConstant.test.tsx
  src/constant/framework/__test__/MakeDefaultModel.test.tsx
  src/constant/framework/__test__/ScreenSize.test.tsx
  src/constant/framework/__test__/SpecialId.test.tsx
Labels: none

feat(lock): updated lock and packages
  .github/workflows/pipeline-dev-web.yaml
Labels: none

Update repository URL in .releaserc.js and package.json
  .releaserc.js
  package.json
Labels: 🔄 Pull Request

feat(setup): migrating to public repo
  internal/pipeline-dev-web.yaml
Labels: 🛠️ Internal Tool

feat(setup): migrating to public repo
  src/api/src/game/__test__/Cors.spec.ts
  src/api/src/game/__test__/GameGateway.spec.ts
  src/api/src/game/__test__/GatwayUtil.spec.ts
  src/api/src/game/__test__/OnGateway.spec.ts
  src/api/src/game/__test__/game.entity.spec.ts
  src/api/src/game/__test__/game.spec.ts
Labels: none

Add .gitkeep file to internal/log directory to ensure the directory is tracked by Git
  internal/log/.gitkeep
Labels: none

Update .gitignore to exclude internal log files and SQL scripts
  .gitignore
Labels: 🔄 Pull Request

Update package.json scripts and environment variable tests
  package.json
  src/api/src/__test__/environment.spec.ts
Labels: 🔄 Pull Request

feat(filter): testing github filter on file types
  .gitattributes
Labels: 🔄 Pull Request

feat(storybook): reinstalling storybook fresh
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Labels: 🔄 Pull Request

feat(storybook): reinstalling storybook fresh, with providers
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/ui/game/GameButton/GameButton.stories.tsx
Labels: 🔄 Pull Request

Add Storybook stories for GameDealerConfirm and GameDealerJudge components
  src/ui/game/GameDealerConfirm/Foo.stories.tsx
  src/ui/game/GameDealerConfirm/GameDealerConfirm.stories.tsx
  src/ui/game/GameDealerJudge/GameDealerConfirm.stories.tsx
Labels: none

Add Storybook stories for GameDealerSelection and GameDebug components
  src/ui/game/GameDealerSelection/GameDealerSelection.stories.tsx
  src/ui/game/GameDebug/GameDebug.stories.tsx
Labels: none

Remove unused file /dev/null from the project
  deleteme
Labels: 🔄 Pull Request

Add Storybook stories for GameDeckLayout component showing different deck layouts with various card colors and custom configurations.
  src/ui/game/GameDeckLayout/GameDeckLayout.stories.tsx
Labels: none

Add Storybook stories for GameError, GameFeedback, and GameFoe components
  src/ui/game/GameError/GameError.stories.tsx
  src/ui/game/GameFeedback/GameFeedback.stories.tsx
  src/ui/game/GameFoe/Foo.stories.tsx
  src/ui/game/GameFoesCardContent/Foo.stories.tsx
  src/ui/game/GameHome/Foo.stories.tsx
  src/ui/game/GameJudgeConfirm/Foo.stories.tsx
  src/ui/game/GameLobby/Foo.stories.tsx
  src/ui/game/GameMenu/Foo.stories.tsx
  src/ui/game/GamePlayerConfirm/Foo.stories.tsx
  src/ui/game/GamePlayerSelection/Foo.stories.tsx
  src/ui/game/GamePopup/Foo.stories.tsx
  src/ui/game/GameQuit/Foo.stories.tsx
  src/ui/game/GameResults/Foo.stories.tsx
  src/ui/game/GameScoreboard/Foo.stories.tsx
  src/ui/game/GameSettings/Foo.stories.tsx
  src/ui/game/GameShare/Foo.stories.tsx
  src/ui/game/GameStatusTable/Foo.stories.tsx
  src/ui/game/GameTemplate/Foo.stories.tsx
  src/ui/game/GameTimeout/Foo.stories.tsx
  src/ui/game/GameToast/Foo.stories.tsx
  src/ui/game/GameView/Foo.stories.tsx
  src/ui/game/GameWaiting/Foo.stories.tsx
  src/ui/game/GameWiggleBox/Foo.stories.tsx
  src/ui/game/ShareCardContent/Foo.stories.tsx
  src/ui/game/TextInputDebounced/Foo.stories.tsx
  src/ui/game/UsernameCardContent/Foo.stories.tsx
Labels: none

Add Storybook stories for GameFoesCardContent, GameHome, and GameJudgeConfirm components
  src/ui/game/GameFoesCardContent/Foo.stories.tsx
  src/ui/game/GameHome/Foo.stories.tsx
  src/ui/game/GameJudgeConfirm/Foo.stories.tsx
Labels: none

Add Storybook stories for GameLobby, GameMenu, and GamePlayerConfirm components
  src/ui/game/GameLobby/Foo.stories.tsx
  src/ui/game/GameMenu/Foo.stories.tsx
  src/ui/game/GamePlayerSelection/Foo.stories.tsx
Labels: none

Update namespace and add Storybook stories
  src/constant/framework/Namespace.tsx
  src/ui/game/GamePopup/Foo.stories.tsx
  src/ui/game/GameQuit/Foo.stories.tsx
  src/ui/game/GameResults/Foo.stories.tsx
  src/ui/game/TextInputDebounced/Foo.stories.tsx
Labels: none

Add Storybook stories for GameWiggleBox component
  src/ui/game/GameWiggleBox/Foo.stories.tsx
  src/ui/game/ShareCardContent/Foo.stories.tsx
Labels: none

Add Storybook stories for GameTimeout component
  src/ui/game/GameTimeout/Foo.stories.tsx
  src/ui/game/GameView/Foo.stories.tsx
  src/ui/game/GameWaiting/Foo.stories.tsx
Labels: none

Add Storybook stories for GameStatusTable component
  src/ui/game/GameStatusTable/Foo.stories.tsx
Labels: none

Refactor GamePopup component imports and remove unused GameSettings component
  src/ui/game/GamePopup/index.tsx
  src/ui/game/GameQuit/Foo.stories.tsx
  src/ui/game/GameScoreboard/Foo.stories.tsx
  src/ui/game/GameSettings/Foo.stories.tsx
  src/ui/game/GameSettings/index.tsx
  src/ui/game/GameShare/Foo.stories.tsx
Labels: none

### Commit Message
  internal/script/ai-commit.ts
  src/ui/game/GameJudgeConfirm/Foo.stories.tsx
Labels: none

Title: Improved Commit Message Instructions
  internal/script/ai-commit.ts
Labels: none

Title: Update commit message prompt requirements
  internal/script/ai-commit.ts
Labels: none

Update commit message instruction
  internal/script/ai-commit.ts
Labels: none

Update stories files for game UI components
  src/ui/game/GameFoe/Foo.stories.tsx
  src/ui/game/GameFoesCardContent/GameFoesCardContent.stories.tsx
  src/ui/game/GameHome/GameHome.stories.tsx
  src/ui/game/GameJudgeConfirm/GameJudgeConfirm.stories.tsx
  src/ui/game/GameLobby/GameLobby.stories.tsx
  src/ui/game/GameMenu/GameMenu.stories.tsx
  src/ui/game/GamePlayerConfirm/Foo.stories.tsx
  src/ui/game/GamePlayerConfirm/GamePlayerConfirm.stories.tsx
  src/ui/game/GamePlayerSelection/GamePlayerSelection.stories.tsx
  src/ui/game/GamePopup/GamePopup.stories.tsx
  src/ui/game/GameQuit/GameQuit.stories.tsx
  src/ui/game/GameShare/GameShare.stories.tsx
  src/ui/game/GameStatusTable/GameStatusTable.stories.tsx
  src/ui/game/GameTemplate/Foo.stories.tsx
  src/ui/game/GameTemplate/GameTemplate.stories.tsx
  src/ui/game/GameTimeout/GameTimeout.stories.tsx
  src/ui/game/GameToast/Foo.stories.tsx
  src/ui/game/GameWiggleBox/GameWiggleBox.stories.tsx
  src/ui/game/TextInputDebounced/TextInputDebounced.stories.tsx
  src/ui/game/UsernameCardContent/Foo.stories.tsx
  src/ui/game/UsernameCardContent/UsernameCardContent.stories.tsx
Labels: none

Refactor and Enhance UtilService, Fix Storybook and GameHome Component
  src/api/src/util/util.service.ts
  src/ui/game/GameFoe/Foo.stories.tsx
  src/ui/game/GameHome/index.tsx
Labels: none

feat(releaseconfig): update release rules
  .releaserc.js
  .storybook/main.ts
  .storybook/preview.tsx
  internal/script/ai-commit.ts
  src/pages/_app.tsx
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameBoard/type.tsx
  src/ui/game/GameFoe/Foo.stories.tsx
  src/ui/game/GameMenu/constant.tsx
  src/ui/game/GamePlayerConfirm/GamePlayerConfirm.stories.tsx
  src/ui/game/GameTemplate/GameTemplate.stories.tsx
  src/ui/game/UsernameCardContent/UsernameCardContent.stories.tsx
  src/ui/page/site/PageGame/index.tsx
Labels: 🔄 Pull Request

Create codacy.yml
  .github/workflows/codacy.yml
Labels: none

feat(imports): reorganize and add new imports
  .storybook/preview.tsx
  README.md
Labels: 🔄 Pull Request

feat(codeacy): testing code quality tool (#3)
  .github/workflows/codacy.yml
Labels: none

Add detailed README for Crude Cards game including game overview rules tech stack and setup instructions
  README.md
Labels: 🔄 Pull Request

feat(readme): Add detailed README for Crude Cards game including game overview (#4)
  README.md
Labels: 🔄 Pull Request

Update README.md with revised gameplay flow diagram and added images
  README.md
Labels: 🔄 Pull Request

feat(README): update documentation and diagrams
  README.md
  internal/wiki/001.webp
  internal/wiki/002.webp
  internal/wiki/003.webp
  internal/wiki/004.webp
  internal/wiki/005.webp
  internal/wiki/006.webp
  internal/wiki/007.webp
  internal/wiki/008.webp
  internal/wiki/009.webp
  internal/wiki/010.webp
  internal/wiki/011.webp
  internal/wiki/012.webp
  internal/wiki/013.webp
  internal/wiki/014.webp
  internal/wiki/015.webp
  internal/wiki/016.webp
Labels: 🔄 Pull Request

feat(readme): update image grid links and section
  README.md
Labels: 🔄 Pull Request

feat(README): content update
  README.md
Labels: 🔄 Pull Request

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*
