Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*

feat(codebase): enhance script management
  internal/script/codebase/index.ts
Labels: none

feat(codebase): update
  internal/script/codebase/index.ts
Labels: none

feat(update): implemented new file operations and error handling
  internal/script/codebase/index.ts
Labels: none

feat(game): update GameBanner and GameText components
  src/ui/game/GameBanner/index.tsx
  src/ui/game/GameText/GameText.module.css
  src/ui/game/GameText/index.tsx
  src/ui/game/GameText/type.tsx
Labels: none

feat(game): update game components
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GameText/GameText.module.css
  src/ui/game/GameText/index.tsx
  src/ui/game/GameText/type.tsx
Labels: none

feat(gameText): update styles and animations
  src/ui/game/GameText/GameText.module.css
  src/ui/game/GameText/index.tsx
Labels: none

feat(game-ui): update game button and text components, improve styles, and refactor GameComplete
  src/ui/game/GameButton/GameButton.module.css
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GameText/index.tsx
  src/ui/game/GameText/type.tsx
Labels: none

feat(updates): comprehensive enhancements and fixes
  internal/script/code/Codebase.md
  src/ui/game/GameCard/GameCard.module.css
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameText/index.tsx
  src/ui/game/GameText/type.tsx
Labels: none

feat(gameui): update game interface components
  code-quality.ai
  src/ui/game/GameBanner/index.tsx
  src/ui/game/GameBanner/type.tsx
  src/ui/game/GameBox/index.tsx
  src/ui/game/GameBox/type.tsx
  src/ui/game/GameCard/index.tsx
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GameDealerConfirm/index.tsx
  src/ui/game/GameText/index.tsx
  src/ui/game/GameText/type.tsx
Labels: 🔄 Pull Request

feat(game): major updates across multiple game components
  src/client/selector/game.tsx
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GameFeedback/index.tsx
  src/ui/game/GameFoe/index.tsx
  src/ui/game/GameFoesCardContent/index.tsx
  src/ui/game/GameJudgeConfirm/GameJudgeConfirm.stories.tsx
  src/ui/game/GameJudgeConfirm/index.tsx
  src/ui/game/GamePlayerConfirm/index.tsx
  src/ui/game/GameText/GameText.module.css
  src/ui/game/GameText/index.tsx
  src/ui/game/GameText/type.tsx
Labels: none

feat(header): UI and logic improvements
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/DealerPickBlackCard.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/DealerPickWinner.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/LobbyHeader.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/Logic.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/PlayerPickWhiteCard.tsx
Labels: none

feat(gamequit): update game quit functionality
  src/ui/game/GameQuit/index.tsx
Labels: none

**feat(update): comprehensive update**
  internal/script/codebase/index.ts
  src/ui/game/GameHome/GameActions.tsx
  src/ui/game/GameHome/GameCodeForm.tsx
  src/ui/game/GameHome/GameHomeLayout.tsx
Labels: none

feat(aws): cleanup of script file
  internal/script/codebase/index.ts
  src/ui/game/GameHome/GameActions.tsx
  src/ui/game/GameHome/GameCodeForm.tsx
  src/ui/game/GameHome/GameHomeLayout.tsx
Labels: none

feat(game): update GameLobby UI components
  src/ui/game/GameHome/GameHomeLayout.tsx
  src/ui/game/GameLobby/FoeList.tsx
  src/ui/game/GameLobby/PlayerWarning.tsx
  src/ui/game/GameLobby/ShareCard.tsx
  src/ui/game/GameLobby/index.tsx
  src/ui/game/GameLobby/type.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/Logic.tsx
Labels: none

feat(game): update FoeList, PlayerWarning, and ShareCard components
  src/ui/game/GameLobby/FoeList.tsx
  src/ui/game/GameLobby/PlayerWarning.tsx
  src/ui/game/GameLobby/ShareCard.tsx
Labels: none

feat(game): Summary of changes
  src/ui/game/GameHome/GameHomeHandlers.tsx
  src/ui/game/GameHome/GameHomeLayout.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameHome/type.tsx
  src/ui/game/GameLobby/ShareCard.tsx
Labels: none

feat(deletion): remove file
  src/ui/game/GameHome/GameHome.module.css
  src/ui/game/GameHome/GameHomeHandlers.tsx
  src/ui/game/GameHome/GameHomeLogic.tsx
  src/ui/game/GameHome/index.tsx
  src/ui/game/GameHome/type.tsx
Labels: none

feat(gameHome): update GameHomeLogic component
  src/ui/game/GameHome/GameHomeLogic.tsx
Labels: none

feat(UI): update button styling and functionality
  code-quality.ai
  src/ui/game/GameButton/GameButton.module.css
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameButton/type.tsx
Labels: 🔄 Pull Request

plaintext feat(GameMenu): update GameMenu component
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GameMenu/menuLogic.tsx
  src/ui/game/GameMenu/type.tsx
Labels: none

feat(ui): update interface components
  src/ui/game/GameMenu/index.tsx
Labels: none

feat(update): comprehensive updates
  src/ui/game/GameDeck/GameCardList.tsx
  src/ui/game/GameDeck/index.tsx
  src/ui/game/GameDeck/type.tsx
Labels: none

feat(gamedeck): update GameDeck component
  src/ui/game/GameDeck/type.tsx
Labels: none

feat(deletion): removed files
  src/ui/game/GameCardContainer/GameCardContainer.module.css
  src/ui/game/GameCardContainer/Logic.tsx
  src/ui/game/GameCardContainer/cardStyles.tsx
  src/ui/game/GameCardContainer/index.tsx
  src/ui/game/GameCardContainer/type.tsx
  src/ui/game/GameCardContainer/useHoverEffect.tsx
Labels: none

feat(ui): update GameCardContainer and GameFoesCardContent components
  src/ui/game/GameCardContainer/index.tsx
  src/ui/game/GameFoesCardContent/GameFoeList.tsx
  src/ui/game/GameFoesCardContent/NoFoesMessage.tsx
  src/ui/game/GameFoesCardContent/index.tsx
  src/ui/game/GameFoesCardContent/type.tsx
Labels: none

feat(game): update various game components
  src/ui/game/GameLobby/ShareCard.tsx
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GameMenu/menuLogic.tsx
  src/ui/game/GameScoreboard/index.tsx
  src/ui/game/GameTimeout/index.tsx
Labels: none

feat(debug): enhance game debug components
  src/ui/game/GameDealerJudge/index.tsx
  src/ui/game/GameDealerSelection/index.tsx
  src/ui/game/GameDebug/DebugTableRow.tsx
  src/ui/game/GameDebug/GameDebugTabs.tsx
  src/ui/game/GameDebug/index.tsx
  src/ui/game/GameDebug/type.tsx
Labels: none

feat(game): update GameDeckLayout
  src/ui/game/GameDeckLayout/index.tsx
  src/ui/game/GameDeckLayout/styleUtils.tsx
  src/ui/game/GameDeckLayout/type.tsx
Labels: none

feat(game): various updates
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameButton/type.tsx
  src/ui/game/GameFeedback/index.tsx
  src/ui/game/GameFeedback/type.tsx
  src/ui/game/GameFeedback/validation.tsx
Labels: none

feat(codequality): improve and fix code quality functions
  internal/script/code-quality/index.ai
  internal/script/code-quality/readme.md
  src/ui/game/GameFeedback/EmailInput.tsx
  src/ui/game/GameFeedback/MessageInput.tsx
  src/ui/game/GameFeedback/NameInput.tsx
  src/ui/game/GameFeedback/SubmitButton.tsx
  src/ui/game/GameFeedback/ThankYouMessage.tsx
  src/ui/game/GameFeedback/constant.tsx
  src/ui/game/GameFeedback/formConfig.tsx
  src/ui/game/GameFeedback/index.tsx
  src/ui/game/useFormConfig.tsx
Labels: none

feat(gamefeedback): Updated components for improved functionality
  src/ui/game/GameFeedback/NameInput.tsx
  src/ui/game/GameFeedback/SubmitButton.tsx
  src/ui/game/GameFeedback/ThankYouMessage.tsx
Labels: none

feat(update): summary of changes
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameDeck/index.tsx
  src/ui/game/GameFoesCardContent/GameFoeList.tsx
  src/ui/game/GameFoesCardContent/index.tsx
  src/ui/game/GameJudgeConfirm/GameJudgeConfirm.stories.tsx
  src/ui/game/GameJudgeConfirm/index.tsx
  src/ui/game/GameStack/GameStackLogic.tsx
  src/ui/game/GameStack/index.tsx
  src/ui/game/GameStack/type.tsx
  src/ui/game/GameTemplate/GameTemplateHeader/DealerPickWinner.tsx
  src/ui/game/ShareCardContent/ShareCardTooltip.tsx
  src/ui/game/ShareCardContent/index.tsx
  src/ui/game/ShareCardContent/type.tsx
Labels: none

feat(GameMenu): update UI components and state management
  src/ui/game/GameMenu/GameMenuBurger.tsx
  src/ui/game/GameMenu/GameMenuDropdown.tsx
  src/ui/game/GameMenu/GameMenuItems.tsx
  src/ui/game/GameMenu/index.tsx
  src/ui/game/GameMenu/type.tsx
Labels: none

feat(selection): update GamePlayerSelection component
  src/ui/game/GameMenu/type.tsx
  src/ui/game/GamePlayerSelection/index.tsx
Labels: none

### Commit Message
  src/client/RootSlice.tsx
  src/client/selector/game.tsx
  src/constant/framework/InitialState.tsx
  src/type/framework/core/CoreAppRoot.tsx
  src/ui/game/GameContext.tsx
  src/ui/game/GamePopup/PopupContent.tsx
  src/ui/game/GamePopup/PopupModal.tsx
  src/ui/game/GamePopup/index.tsx
  src/ui/game/GamePopup/type.tsx
  src/ui/game/GameTemplate/index.tsx
  src/ui/game/type.tsx
Labels: 👀 Frontend

feat(game): update Game and GameResults components
  src/client/selector/game.tsx
  src/ui/game/GamePopup/index.tsx
  src/ui/game/GameResults/ResultsCards.tsx
  src/ui/game/GameResults/ScoreboardSection.tsx
  src/ui/game/GameResults/index.tsx
  src/ui/game/GameResults/type.tsx
Labels: none

feat(game): update GameScoreboard and GameShare components
  src/ui/game/GameScoreboard/index.tsx
  src/ui/game/GameShare/GameShare.module.css
  src/ui/game/GameShare/GameShareButton.tsx
  src/ui/game/GameShare/GameShareIcon.tsx
  src/ui/game/GameShare/index.tsx
  src/ui/game/GameShare/type.tsx
Labels: none

feat(game): various updates and fixes
  src/ui/game/GameComplete/index.tsx
  src/ui/game/GameShare/GameShare.module.css
  src/ui/game/GameShare/GameShareButton.tsx
  src/ui/game/GameShare/GameShareIcon.tsx
  src/ui/game/GameStatusTable/GameStatusTable.stories.tsx
  src/ui/game/GameStatusTable/GameStatusTableHeader.tsx
  src/ui/game/GameStatusTable/GameStatusTableRow.tsx
  src/ui/game/GameStatusTable/GameStatusTableTitle.tsx
  src/ui/game/GameStatusTable/index.tsx
  src/ui/game/GameStatusTable/type.tsx
  src/ui/game/GameText/index.tsx
Labels: none

feat(GameToast): update GameToast component and styles
  src/ui/game/GameToast/GameToast.module.css
  src/ui/game/GameToast/TimerSymbol.tsx
  src/ui/game/GameToast/index.tsx
  src/ui/game/GameToast/style.module.css
  src/ui/game/GameToast/type.tsx
Labels: none
