Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*

feat(cli): cli testing works
  internal/script/cli/index.ts
  package.json
  pnpm-lock.yaml
  src/api/package.json
  src/api/pnpm-lock.yaml
Labels: 🔄 Pull Request

feat(cli): cli testing works
  internal/script/cli/index.ts
  src/api/package.json
  src/api/pnpm-lock.yaml
Labels: none

feat(cli): cli testing works
  .vscode/settings.json
  internal/script/cli/action/codebase.ts
  internal/script/cli/action/split.ts
  internal/script/cli/index.ts
  internal/script/codebase/index.ts
Labels: none

feat(cli): cli testing works
  cli/action/codebase.ts
  cli/action/talk.ts
  cli/index.ts
  internal/script/cli/action/split.ts
  internal/script/cli/index.ts
  package.json
Labels: 🔄 Pull Request

feat(cli): cli testing works
  cli-pew/action/codebase.ts
  cli-pew/action/talk.ts
  cli-pew/index.ts
  package.json
Labels: 🔄 Pull Request

feat(cli): adding data area
  cli-pew/data/.gitkeep
Labels: none

feat(cli): adding data area
  .gitignore
Labels: 🔄 Pull Request

feat(cli): adding data area
  cli-pew/action/codebase.ts
  cli-pew/action/output/codebase-attorney-ai.md
  cli-pew/action/output/codebase-crude-cards-backend.md
  cli-pew/action/output/codebase-crude-cards-frontend.md
  cli-pew/index.ts
Labels: none

feat(cli): adding data area
  cli-pew/action/talk.ts
  package.json
  pnpm-lock.yaml
Labels: 🔄 Pull Request

feat(cli): adding data area
  cli-pew/action/talk.ts
  vscode.code-workspace
Labels: 🔄 Pull Request

feat(cli): cli testing works
  cli-pew/data/STAR_Method_Interview_Preparation_Shuffled.md
Labels: none

feat(cli): cli testing works
  package.json
  pnpm-lock.yaml
  src/api/package.json
Labels: 🔄 Pull Request

feat(cli): cli testing works
  .vscode/launch.json
  .vscode/settings.json
  package.json
  src/ui/game/GameButton/GameButton.stories.tsx
  src/ui/game/GameButton/index.tsx
Labels: 🔄 Pull Request

feat(cli): cli testing works
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/api/pnpm-lock.yaml
  src/pages/_app.tsx
  src/ui/game/GameButton/GameButton.module.css
  src/ui/game/GameButton/index.tsx
  src/ui/game/GameTemplate/index.tsx
  src/ui/game/GameText/GameText.stories.tsx
  src/ui/page/site/PageGame/PageGame.stories.tsx
Labels: 🔄 Pull Request

feat(cli): cli testing works
  src/ui/game/GameText/GameText.stories.tsx
  src/ui/game/GameText/index.tsx
Labels: none

feat(cli): cli testing works
  src/ui/game/GameTemplate/index.tsx
Labels: none

feat(cli): cli testing works
  .storybook/preview.tsx
  src/ui/game/GameBanner/Gamebanner.stories.tsx
  src/ui/game/GameBanner/index.tsx
  src/ui/game/GameBox/GameBox.stories.tsx
Labels: none

feat(cli): cli testing works
  src/ui/game/GameButton/GameButton.stories.tsx
Labels: none

feat(cli): cli testing works
  src/ui/game/GameCard/GameCard.stories.tsx
Labels: none

feat*storybook): added storybook story
  src/ui/game/GameDealerJudge/GameDealerJudge.stories.tsx
  src/ui/game/GamePopup/GamePopup.stories.tsx
  src/ui/game/GameScoreboard/GameScoreBoard.stories.tsx
Labels: none

feat*storybook): added storybook story
  src/ui/game/GameQuit/GameQuit.stories.tsx
Labels: none

feat*storybook): added storybook story
  src/ui/game/GameDealerSelection/GameDealerSelection.stories.tsx
  src/ui/game/GameFeedback/GameFeedback.stories.tsx
  src/ui/game/GamePlayerConfirm/GamePlayerConfirm.stories.tsx
  src/ui/game/GameToast/GameToast.stories.tsx
  src/ui/game/GameWaiting/GameWaiting.stories.tsx
Labels: none

feat*storybook): added storybook story
  src/ui/game/GameDeck/GameDeck.stories.tsx
Labels: none

feat*storybook): added storybook story
  src/ui/game/GameLobby/GameLobby.stories.tsx
Labels: none

feat*storybook): added storybook story
  src/ui/game/GameBoard/GameBoard.stories.tsx
  src/ui/game/GameComplete/GameComplete.stories.tsx
  src/ui/game/GameDebug/GameDebug.stories.tsx
  src/ui/game/GameDeckLayout/GameDeckLayout.stories.tsx
  src/ui/game/GameError/GameError.stories.tsx
  src/ui/game/GameFoe/GameFor.stories.tsx
  src/ui/game/GameFoesCardContent/GameFoesCardContent.stories.tsx
  src/ui/game/GameGroup/GameGroup.stories.tsx
  src/ui/game/GameHome/GameHome.stories.tsx
  src/ui/game/GamePlayerSelection/GamePlayerSelection.stories.tsx
  src/ui/game/GameResults/GameResults.stories.tsx
  src/ui/game/GameShare/GameShare.stories.tsx
  src/ui/game/GameStack/GameStack.stories.tsx
  src/ui/game/GameStatusTable/GameStatusTable.stories.tsx
Labels: none

feat(storybook): added storybook stories
  src/ui/game/GameBoard/GameBoard.stories.tsx
  src/ui/game/GameStatusTable/GameStatusTable.stories.tsx
  src/ui/game/GameTemplate/GameTemplate.stories.tsx
  src/ui/game/GameTimeout/GameTimeout.stories.tsx
  src/ui/game/GameView/GameView.stories.tsx
  src/ui/game/GameWiggleBox/GameWiggleBox.stories.tsx
  src/ui/game/ShareCardContent/ShareCardContent.stories.tsx
  src/ui/game/TextInputDebounced/TextInputDebounced.stories.tsx
  src/ui/game/TextInputDebounced/index.tsx
  src/ui/game/TextInputDebounced/type.tsx
  src/ui/game/UsernameCardContent/UsernameCardContent.stories.tsx
Labels: none

feat(storybook): added storybook stories
  src/ui/game/GameBanner/index.tsx
  src/ui/game/GameBanner/type.tsx
  src/ui/game/GameBoard/index.tsx
  src/ui/game/GameLobby/GameLobby.stories.tsx
  src/ui/game/GameStatusTable/GameStatusTable.stories.tsx
  src/ui/game/GameStatusTable/GameStatusTableTitle.tsx
  src/ui/game/GameStatusTable/index.tsx
  src/ui/game/GameStatusTable/type.tsx
  src/ui/game/GameText/index.tsx
  src/ui/game/ShareCardContent/index.tsx
Labels: none

feat(storybook): added storybook stories
  DockerfileAPI
Labels: 🔄 Pull Request

chore(release): 1.0.41 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  4b404d7d368796e5f8584b0c6eedbd4e05ee4f7c
Labels: 🔄 Pull Request

feat(storybook): added storybook stories
  .github/workflows/.gitkeep
  .github/workflows/crudecards-pipeline-dev-api.yaml
  .github/workflows/crudecards-pipeline-dev-ui.yaml
Labels: none

Notes added by 'git notes add'
  a9f64ac98c96b585844ef910afef03be4ece337e
Labels: 🔄 Pull Request

chore(release): 1.0.42 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

feat(storybook): added storybook stories
  chromatic.config.json
  src/ui/game/GameStatusTable/GameStatusTableRow.tsx
  src/ui/game/GameText/index.tsx
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  a31853785f6305c80df8898c1e391034b391dc43
Labels: 🔄 Pull Request

chore(release): 1.0.43 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

feat(storybook): added storybook stories
  src/client/GameThemeBlueSteel.tsx
  src/client/GameThemeDefault.tsx
  src/client/GameThemeJazzHands.tsx
  src/ui/game/GameTemplate/index.tsx
  src/ui/game/GameText/GameText.stories.tsx
  src/ui/game/GameThemeProvider/index.tsx
  src/ui/game/GameThemeProvider/type.tsx
  src/ui/game/type.tsx
Labels: 👀 Frontend

feat(storybook): testing
  .storybook/preview.tsx
Labels: none

chore(release): 1.0.44 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  f38a89f5f9aaa9bd874340a84162b83a7ddf9303
Labels: 🔄 Pull Request
