Repository dandonahoe/crude-cards, changes with the labels that .github/labeler.yml gives for each.
All labels: 🔄 Pull Request, 📣 Marketing, 🛠️ Internal Tool, 👨‍💻 Backend, 👀 Frontend, 🔌 API, 🧪 Testing, 💽 Database, 🚀 Pipeline, 🌈 UI/UX

.github/labeler.yml:

"🔄 Pull Request":
- '*'
"📣 Marketing": src/ui/marketing/*
"🛠️ Internal Tool": internal/*
"👨‍💻 Backend": src/server/*
"👀 Frontend": src/client/*
"🔌 API": src/pages/api/*
"🧪 Testing": src/test/*
"💽 Database": prisma/*
"🚀 Pipeline": .github/*

"🌈 UI/UX": src/ui/*

feat(pipeline): update and reformat pipelines
  .github/workflows/pipeline-dev-web.yaml
  internal/pipeline-dev-api.yaml
  internal/pipeline-dev-ui.yaml
  internal/pipeline-dev-web.yaml
Labels: 🛠️ Internal Tool

feat(docker): update dockerfile commands
  DockerfileWeb
Labels: 🔄 Pull Request

feat(game): Update game logic and UI enhancements
  src/pages/game.tsx
Labels: none

feat(envscript): add script to manage environment variables
  internal/script/pull-env.ts
  package.json
Labels: 🔄 Pull Request

feat(pipeline): add debug overlay env var
  .github/workflows/pipeline-dev-web.yaml
Labels: none

feat(workflow): add deployment pipelines
  .github/workflows/pipeline-dev-api.yaml
  .github/workflows/pipeline-dev-ui.yaml
  .github/workflows/pipeline-dev-web.yaml
  .gitignore
  vscode.code-workspace
Labels: 🔄 Pull Request

refactor(pipeline): updating ci flow for release to development (#80)
  .github/workflows/pipeline-dev-api.yaml
  .github/workflows/pipeline-dev-ui.yaml
  .github/workflows/pipeline-dev-web.yaml
  .gitignore
  DockerfileWeb
  deleteme
  internal/pipeline-dev-api.yaml
  internal/pipeline-dev-ui.yaml
  internal/pipeline-dev-web.yaml
  internal/script/pull-env.ts
  package.json
  src/Env.tsx
  src/api/src/__test__/environment.spec.ts
  src/api/src/app.module.ts
  src/api/src/score-log/score-log.entity.ts
  src/api/src/score-log/score-log.service.ts
  src/api/src/sock/sock.module.ts
  src/api/src/util.ts
  src/pages/game.tsx
  vscode.code-workspace
Labels: 🔄 Pull Request, 🛠️ Internal Tool

feat(service): update service names
  .github/workflows/pipeline-dev-api.yaml
  .github/workflows/pipeline-dev-ui.yaml
Labels: none

feat(pipeline): update service name
  .github/workflows/pipeline-dev-web.yaml
Labels: none

feat(pipeline): restructure environment variables
  .github/workflows/pipeline-dev-api.yaml
Labels: none

feat(pipeline): update names in GitHub workflows
  .github/workflows/crudecards-pipeline-dev-api.yaml
  .github/workflows/crudecards-pipeline-dev-ui.yaml
  .github/workflows/crudecards-pipeline-dev-web.yaml
Labels: none

feat(pipeline): pipeline config updates
  .github/workflows/crudecards-pipeline-dev-api.yaml
  .github/workflows/crudecards-pipeline-dev-ui.yaml
Labels: none

feat(pipeline): update
  .github/workflows/crudecards-pipeline-dev-web.yaml
Labels: none

feat(config): update release rules and workspace settings
  .releaserc.js
  vscode.code-workspace
Labels: 🔄 Pull Request

feat(repo): update repository URLs
  .releaserc.js
  package.json
Labels: 🔄 Pull Request

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  55baf0b7724aefe2bedef899e11db45161cfe78a
Labels: 🔄 Pull Request

feat(update): summary
  DockerfileUI
  package.json
  pnpm-lock.yaml
Labels: 🔄 Pull Request

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  9a3dcc914d5ae32f92860797cd3e424aab207c8a
Labels: 🔄 Pull Request

feat(workspace): update workspace configuration
  vscode.code-workspace
Labels: 🔄 Pull Request

feat(workspace): update VSCode settings - feat(vscode): modify workspace settings - internal/script/ai-commit.ts - .vscode/settings.json
  internal/script/ai-commit.ts
  vscode.code-workspace
Labels: 🔄 Pull Request

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  80649c077ac866f530488cdf3a5439723e57f34f
Labels: 🔄 Pull Request

feat(pipeline): update GitHub Actions workflow
  .github/workflows/crudecards-pipeline-dev-api.yaml
  .github/workflows/crudecards-pipeline-dev-ui.yaml
  .github/workflows/crudecards-pipeline-dev-web.yaml
  internal/script/ai-commit.ts
Labels: none

feat(commit): summary
  internal/script/ai-commit.ts
Labels: none

feat(commit): update
  internal/script/ai-commit.ts
Labels: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  a4149f3f557019c51c7d32bc2b02167110fe918e
Labels: 🔄 Pull Request

feat(pipeline): update CI/CD workflow for CrudeCards dev
  .github/workflows/crudecards-pipeline-dev-api.yaml
  .github/workflows/crudecards-pipeline-dev-ui.yaml
  .github/workflows/crudecards-pipeline-dev-web.yaml
Labels: none

Notes added by 'git notes add'
  e6972ac43b686402337b0d729d5a9ee3a5d0760d
Labels: 🔄 Pull Request

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

feat(feature): add new functionalities and improvements
  internal/script/docker.ts
Labels: none

feat(update): summary
  internal/script/docker.ts
  package.json
Labels: 🔄 Pull Request

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  package.json
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  90cb558e265d8d05a7d2eff6ecaa6a27ed821185
Labels: 🔄 Pull Request

Update README.md
  README.md
Labels: 🔄 Pull Request

feat(ci): update
  .github/workflows/crudecards-pipeline-dev-api.yaml
  .github/workflows/crudecards-pipeline-dev-ui.yaml
  .trunk/.gitignore
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isort.cfg
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/configs/svgo.config.js
  .trunk/trunk.yaml
  DockerfileAPI
  internal/pipeline-dev-api.yaml
  internal/pipeline-dev-ui.yaml
  internal/pipeline-dev-web.yaml
  package.json
Labels: 🔄 Pull Request, 🛠️ Internal Tool

feat(lockfile): update dependencies
  pnpm-lock.yaml
Labels: 🔄 Pull Request

Notes added by 'git notes add'
  97eb85f2bf52b6ffedbfd4856c00f884b0109621
Labels: 🔄 Pull Request
